<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tweeter</title>
  <link rel="stylesheet" href=" /style.css">
</head>

<body>
  <h2 class="heading">MY PERSONAL TWEETER</h2>

  <a href="http://localhost:8080/posts/new"><button> add new Tweet</button></a>
  <% for(let post of posts) {%>
    <div>
      <p class="id">
        <%= post.id %>
      </p>
      <h2 class="user">@<%= post.username %>
      </h2>
      <h2 class="content">
        <%= post.content %>
      </h2>
      <a href="http://localhost:8080/posts/<%= post.id %>">See in detail</a>
      <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
        <button>Delete</button>
      </form >
    </div>

    <% } %>
</body>

</html>